{% extends "base1.html" %}
{% load static %}


{% block content %}

<div class="container" >
    <div class="row" style="padding-top:100px" >
        <div class="col-md-8 m-x-auto pull-xs-none vamiddle">
            <div class="card-group ">
                <div class="card p-a-2">
                    <div class="card-block" >
                    
                        <p style='color:#901838;font-size:18px;text-align:center'>تسجيل الدخول</p>
                        <form method="post">
                            {% csrf_token %}
                            
                        <div class="input-group m-b-1">
                            <span class="input-group-addon"><i class="icon-user"></i>
                            </span>
                            <input type="text"name="username" id="username"  class="form-control en" placeholder="اسم المستخدم" required>
                        </div>
                        <div class="input-group m-b-2">
                            <span class="input-group-addon"><i class="icon-lock"></i>
                            </span>
                            <input type="password" name="password" id="password" class="form-control en" placeholder="كلمة المرور"required>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 ">
                                <a href="" style='color:#901838;font-size:14px;text-align:center'>هل نسيت كلمة المرور؟</a>
                            </div>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-block" style=" color:white;background-color:#901838">
                                    <i class="icon-login"></i>
                                    دخول</button>
                            </div>
                        </div>    
                        </form>
                        {% if error %}
                            <p style="color:red;">{{ error }}</p>
                        {% endif %}
                            
                        
                    </div>
                </div>
                <div class="card card-inverse card p-y-3" style="width:44%;background-color:#901838">
                    <div class="card-block">
                        <div>
                            <img src="{% static 'img/talha.jpg'%}" width="230" height="230"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   







{% endblock %}
<script>
    function verticalAlignMiddle()
    {
        var bodyHeight = $(window).height();
        var formHeight = $('.vamiddle').height();
        var marginTop = (bodyHeight / 2) - (formHeight / 2);
        if (marginTop > 0)
        {
            $('.vamiddle').css('margin-top', marginTop);
        }
    }
    $(document).ready(function()
    {
        verticalAlignMiddle();
    });
    $(window).bind('resize', verticalAlignMiddle);
</script>