{% extends 'base.html' %}

{% block content %}
<main class="main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">لوحة التحكم</li>
        <li class="breadcrumb-item"><a href="#">المدير</a></li>
        <li class="breadcrumb-item active">إضافة مستخدم جديد</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card"style='border-radius:15px;'>
                        <div class="card-header"style="background-color:#901838;border-radius:15px;">
                           <h3 class=" text-sm-left" style="color:white">إنشاء حساب جديد</h3>
                           <div class="card-tools">
                            <div style="text-align: left;margin-top:-35px">
                                  <a href="{% url 'all_users' %}" class="btn btn-tool">
                                      <i style='color:white;' class="fa fa-times"></i>
                                  </a>
                            </div>
                          </div>
                        </div>
                        <div class="card-block collapse in">
                       
                            <div class="row">
                                
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                    
                                        <label for="id_username">اسم المستخدم</label>
                                        {{ form.username }}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_email">البريد الإلكتروني</label>
                                        {{ form.email }}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_password1">كلمة السر</label>
                                        {{ form.password1 }}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_password2">تأكيد كلمة السر</label>
                                        {{ form.password2 }}
                                    </div>
                                    <div class='row'>
                                            <div class="form-group">
                                                <div class='col-lg-2'>
                                                <label for="id_user_type"> نوع المستخدم:</label>
                                                </div>
                                                <div class='col-lg-2'>
                                                    {{ form.is_admin }}<label>   مدير   </label>
                                                </div>  
                                                <div class='col-lg-2'> 
                                                    {{ form.is_teacher }}<label>   مدرس  </label>
                                                </div>
                                                <div class='col-lg-2'>
                                                    {{ form.is_student }}<label> طالب </label>
                                                </div>
                                                <div class='col-lg-2'>
                                                    {{ form.is_parent }}<label>   ولي أمر  </label>
                                                </div>
                                            </div>
                                    </div>
                                    <p style="text-align:center">
                                            <button type="submit" class="btn btn-success"style='border-radius:15px'> 
                                                <i class="fa fa-plus" aria-hidden="true"></i>  إنشاء حساب جديد
                                            </button>
                                    </p>
                                </form>
                                <p class="mt-3">هل لديك حساب؟ <a href="{% url 'login' %}">تسجيل الدخول</a></p>
                            </div>
                        </div>
                     </div>
                </div>
             </div>
            </div>
        </div>
</main>
{% endblock %}
