{% extends 'base.html' %}

{% block content %}
<main class="main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">لوحة التحكم</li>
        <li class="breadcrumb-item"><a href="#">المدير</a></li>
        <li class="breadcrumb-item active">إضافة مستخدم جديد</li>
    </ol>
    <div class="container">
        <div class="card shadow p-4">
            <h2 class="text-center text-primary mb-4">إنشاء حساب جديد</h2>
            <form method="post">
                {% csrf_token %}
              {{form.as_p}}
                <button type="submit" class="btn btn-success rounded-pill px-4">إنشاء حساب جديد</button>
            </form>
            <p class="mt-3">هل لديك حساب؟<a href="{% url 'login' %}">الدخول</a></p>
        </div>
    </div>
</main>
{% endblock %}
