
                               
                                    <h4 class='text-md-center'>صفوف تقوم بتدريسها</h4>
                                
                            </div>
                             
                        </div>
                        <hr/>
                        <div class='row'>
                            <div class="card">
                                <div class="card-block">
                                        
                                        <ul>
                                            {% for grade in grades %}
                                                <li>{{ grade.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                   