{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main">
  
  <ol class="breadcrumb">
      <li class="breadcrumb-item">لوحة التحكم</li>
      <li class="breadcrumb-item"><a href="#">المدير</a>
      </li>
      <li class="breadcrumb-item active"> الصفوف</li>
    
  </ol>
  <div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xs-12">
                <div class="card"style='border-radius:15px;'>
                    <div class="card-header"style="background-color:#901838;border-radius:15px;">
                       <h1 class=" text-sm-center" style="color:white">إضافة صف جديد</h1>
                    </div>
                      <div class="card-block collapse in">
                     
                          <p>
                            <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-413">
                              
                              <form method="post">
                                {% csrf_token %}
                                <label style='font-size:16px;color:#901838'>
                                  اسم الصف
                              </label>
                                {{ form.name }}
                                <p class="text-md-center" >
                                  <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-plus" aria-hidden="true"></i>   حفظ  </button>
                                </p>
                              </form>
                         
        
          </div>  
                          </p>
                      </div>
                  </div>
              </div>
              <!--/col-->
          </div>
          <!--/row-->
      </div>
  </div>
  <!-- /.conainer-fluid -->
</main>
        

       


{% endblock %}