{% load static %}
 <!DOCTYPE html>
 <html lang="ar-ar" dir="rtl">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta name="description" content="talha school">
     <meta name="author" content="Lachheb sofiene">
     <meta name="keyword" content="talha school">
     <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
     <title>نظام مدرسي</title>
     <!-- Icons -->
     <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
     <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">
     
     <!-- Main styles for this application -->
     <link href="{% static 'dest/style.css' %}" rel="stylesheet">
     <link href="{% static 'dest/style1.css' %}" rel="stylesheet">

 </head>
 <!-- BODY options, add following classes to body to change options
         1. 'compact-nav'     	  - Switch sidebar to minified version (width 50px)
         2. 'sidebar-nav'		  - Navigation on the left
             2.1. 'sidebar-off-canvas'	- Off-Canvas
                 2.1.1 'sidebar-off-canvas-push'	- Off-Canvas which move content
                 2.1.2 'sidebar-off-canvas-with-shadow'	- Add shadow to body elements
         3. 'fixed-nav'			  - Fixed navigation
         4. 'navbar-fixed'		  - Fixed navbar
     -->
 
 <body class="navbar-fixed sidebar-nav fixed-nav">
    
     
     
    {% include 'header.html'%}
    {% include 'sidebar.html'%}
    {% include 'aside.html'%}
    {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
    
        {% block content%}

        {% endblock %}
     {% include 'footer.html'%}
     <!-- Bootstrap and necessary plugins -->
     <script src="{% static 'js/libs/jquery.min.js'%}"></script>
     <script src="{% static 'js/libs/tether.min.js'%}"></script>
     <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/libs/pace.min.js' %}"></script>
 
     <!-- Plugins and scripts required by all views -->
     <script src="{% static 'js/libs/Chart.min.js '%}"></script>
 
     <!-- CoreUI main scripts -->
 
     <script src="{% static 'js/app.js'%}"></script>
 
     <!-- Plugins and scripts required by this views -->
     <!-- Custom scripts required by this view -->
     <script src="{% static 'js/views/main.js'%}"></script>
 
     <!-- Grunt watch plugin -->
     <script src="//localhost:35729/livereload.js"></script>
     
 </body>
 
 </html>
 